

.formWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.create{
    background-image: linear-gradient(to bottom, #ccc, #1da5);
    width: 100%;
    
    padding: 1.5rem;
    align-items: center;
}


input{
    width: 100%;
    height: 44px;
    margin: 3px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    padding-left: 1rem;
}




button{
    width: 100%;
    height: 44px;
    margin: 5px;
    padding: 4px;
    border-radius: 5px; 
    cursor: pointer;
    color: aliceblue;
    box-shadow: 5px 5px 10px whitesmoke;
}


select{
    width: 100%;
    height: 44px;
    margin: 5px;
    padding: 4px;
    border-radius: 5px; 
    cursor: pointer;
    border: none;
    padding-left: 1rem;
}

.date{
    width: 45% !important;
}

.time{
    width: 45% !important;
}

.date_time{
    display: flex ;
    width: 100% !important;
    justify-content: space-between;
    justify-items: space-between;
    
}

.btn{
    display: flex ;
    width: 100% !important;
    justify-content: space-between;
    justify-items: space-between;
}


.btn1{
    width: 45% !important;
    margin-top: 1rem;

}

.btn2{
    width: 45% !important;
    margin-top: 1rem;

}

.btn3{
    margin-top: 1.5rem;
    font-size: large;
    cursor: pointer;
}

.double{
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
}

.addput{
    width: 100% !important;
    display: flex;
}

.add{
    width: auto !important;
    border: none;
    border-radius: 5px !important;
}
.taskme{
    width: 100%;
    background-color: white;
    height: auto;
    padding: 2px;
    border-radius: 5px !important;
}


