

.formWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100vh;
}
.create{
    background-image: linear-gradient(to bottom, #ccc, #1da5);
    width: 500px;
    /* height: auto; */
    padding: 1.5rem;
    /* top: 10rem; */
    align-items: center;
    border-radius: .5rem;
}


input{
    width: 100%;
    margin: 3px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

input:hover{
    border: 1px solid #03A9F4;
}
select {
    width: 100%;
    margin: 3px;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #ccc;
}

button{
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 4px;
    border-radius: 5px; 
    cursor: pointer;
    color: aliceblue;
    box-shadow: 5px 5px 10px whitesmoke;
}


select{
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 4px;
    border-radius: 5px; 
    cursor: pointer;
    border: none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

select:hover{
    border: 1px solid #03A9F4;
}

.date{
    width: 45% !important;
}

.time{
    width: 45% !important;
}

.date_time{
    display: flex ;
    width: 100% !important;
    justify-content: space-between;
    justify-items: space-between;
    
}

.btn{
    display: flex ;
    width: 100% !important;
    /* margin: 2rem; */
    justify-content: space-between;
    justify-items: space-between;
}


.btn1{
    width: 45% !important;
    margin-top: 1rem;

}

.btn2{
    width: 45% !important;
    margin-top: 1rem;

}

.btn3{
    margin-top: 1.5rem;
    font-size: large;
    cursor: pointer;
}

.double{
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
}

.addput{
    width: 100% !important;
    display: flex;
}

.add{
    width: auto !important;
    border: none;
    border-radius: 5px !important;
}
.taskme{
    width: 100%;
    background-color: white;
    height: auto;
    padding: 2px;
    border-radius: 5px !important;
}

@media(max-width: 380px){
    .create{
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
p{
    font-family:'Courier New', Courier, monospace;
}
